{% extends 'base.html.twig' %}

{% set activeMenu = 'add' %}

{% block body %}

    <div class="mt-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="mt-4">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
